body{
    background: aqua;
}
.Page_structure{
    color:black;
    text-align: center;
  
}
.Page_structure input{
    padding: 10px 20px;
}
.numbers button{
    margin:20px;
    padding:20px; 
}
.large_button{
    display:inline;
   padding:10px 20px;
}
.special_button button{
    padding:20px 90px;
    margin:20px;
}